#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 1px;
  width: 1024px;
  max-height: 960px;
  border: 1px solid black;
}

#grid-container > div {
  background-color: #9d9d9d;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

#grid-container > .player {
  background-color: #f00;
}

#grid-container > .gun {
  background-color: #0f0;
}

#grid-container > .ammo {
  background-color: rgb(0, 111, 0);
}

#grid-container > .healthPotion {
  background-color: #00f;
}

#grid-container > .cover {
  background-color: #ff0;
}